<h3>Jewelry information</h3>
<div class=""><h5><%= @jewelry.metal %> <%= @jewelry.gemstone %> <%= @jewelry.kind %></h5>
<img src="<%= @jewelry.images.name %>" />
<h6>from: <%= @jewelry.supplier.name %></h6>
<h6>price: <%= @jewelry.price %></h6>
<h6>tax: <%= @jewelry.tax_method %></h6>
<h6>totes: <%= @jewelry.total %></h6>

<div><a href="/jewelry_store">Back to Jewelry Store</a></div>
<div><a href="/jewelry/<%=@jewelry.id%>/edit">edit</a></div>
<div>
  <%= link_to "Destroy this item", "/jewelry/#{@jewelry.id}", method: :delete %>
</div>

<h3><%= @jewelry.sale_message %></h3>